// Global variable overrides. Must be declared before importing Valo.
// my
// $v-line-height: 0.5;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  	@include valo;
	
	.my-border-bottom-solid {
		border-bottom: 1px solid $v-focus-color;
	}
	.my-checkbox-left-caption {
   		font-size: $v-font-size + 1;
	}
	
	.background-white {
		background-color: #ffffff !important;
	}
	
	.color-white {
		color: #ffffff;
	}
	
	.v-formlayout-captioncell .v-caption {
		color: #ffffff;
	}
	
	.main-background {
		background: url("./img/background.jpg") center top no-repeat fixed;
  		background-size: 100%;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
	
	.v-tabsheet-tabitemcell .v-caption .v-captiontext {
   		background-color: white;
   	}
	.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
    	border-bottom-color: red;
    	color: red;
    	font-weight: bold;
	}
	
	.search-result {
		padding: 0px 15px 20px 15px;
		
		.url {
			color: green;
			font-style: italic;
			word-wrap: break-word;
		}
		
		.frag {
			word-wrap: break-word;
		}
	}
}
