// Global variable overrides. Must be declared before importing Valo.
// my
// $v-line-height: 0.5;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin box-shadow-none() {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@mixin mytheme {
  	@include valo;
  	
  	.v-panel {
  		border: none;
  		@include box-shadow-none();
  	}
  	
	
	.my-border-bottom-solid {
		border-bottom: 1px solid $v-focus-color;
	}
	.my-checkbox-left-caption {
   		font-size: $v-font-size + 1;
	}
	
	.background-white {
		background-color: #ffffff !important;
	}
	
	.color-white {
		color: #ffffff;
	}
	
	.v-formlayout-captioncell .v-caption {
		color: #ffffff;
	}
	
	.text-align-center {
		text-align: center;
	}
	
	.main-background {
		background: url("./img/background3.jpg") center top no-repeat fixed;
  		background-size: 100%;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
	
	.v-tabsheet-tabitemcell .v-caption .v-captiontext {
   		background-color: white;
   	}
	.v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
    	border-bottom-color: red;
    	color: red;
    	font-weight: bold;
	}
	
	.search-result {
		padding: 0px 15px 20px 15px;
		
		.url {
			color: green;
			font-style: italic;
			word-wrap: break-word;
		}
		
		.frag {
			word-wrap: break-word;
		}
	}
	
	.search-box {
		background: #ffffff;
		margin: 50px 0px 60px 0px;
		padding: 30px 50px 10px 50px;
	
		border: 5px solid #FE8000;
		border-radius: 8px 8px 8px 8px;
		-moz-border-radius: 8px 8px 8px 8px;
		-webkit-border-radius: 8px 8px 8px 8px;
		
		.image {
			margin: 0px 0px 40px 0px; 
		}

		.text {
			font-size: 22px;
			font-weight: bold;
		}
		
		.search-row {
		
			border: 1px solid #000000;
			border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
		
			.search-field {
				border: none;
				font-size: 24px;
				line-height: 24px;
				
			    padding: 0px 10px 0px 10px !important;
			    height: 44px;
			    
			    text-align: center;
		
			    user-select: text;
			    -webkit-user-select: text;
			    -moz-user-select: text;
			    -ms-user-select: text;
			    
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    -ms-appearance: none;
			    -o-appearance: none;
			    appearance: none;
			}
		
			.search-button {			
				height: 44px;
				width: 44px;
		    	outline: none;
		    	
		    	border: none;
		    	border-left: 1px solid #000000;
				background: #FF9000;
				color: #ffffff;
		    	
		    	@include box-shadow-none();
		    	
				&:hover {
		    		background: #FF9000;
		    		content: none;
		    		outline: none;
				}
		
				&:after,
				&:focus,
				&:focus:after,
				&:hover:after {
					content: none;
					outline: none;
				}
				
				&:before {
		    		height: 100%;
				}
				
				.v-icon {
					display: block;
					position: absolute;
					bottom: 6px;
					left: 50%;
					transform: translate(-50%, 0%);
					
					font-size: 24px;
					font-weight: 400;
				}	
			}
		}
		
		.copyright {
			font-size: 10px;
			font-weight: bold;
		}
	}
	
	.menu {
		background: #ffffff;
		padding: 15px;
		
		font-size: 18px;
		font-weight: bold;
		
		position: fixed;
    	bottom: 0;
    	display: block;
		
		.name {
			padding: 0px 40px 0px 0px;
		}
		
		.separator {
			padding: 0px 0px 0px 0px;
			color: #EEA139;
		}
		
		.link {
			outline: none;
	    	border: none;
			background: transparent;
			color: #EEA139;
			text-decoration: none;
			padding: 0px;
	    	
	    	@include box-shadow-none();
	    	
			&:hover {
	    		content: none;
	    		outline: none;
	    		text-decoration: underline;
			}
	
			&:after,
			&:focus,
			&:focus:after,
			&:hover:after {
				content: none;
				outline: none;
			}
		}
		
		.signin {
			padding: 0px 0px 0px 80px;
			text-decoration: underline;
		}
		
		.languages {
			padding: 0px 0px 0px 30px;
		}
		
	}
}
